<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Assignment Added</h1>
    <div class="p-3 mb-2 bg-danger text-white" >
        <h2>This assignment was added</h2>
        <p class="">ID: {{id}}</p>
        <p class="">Name: {{assignment}} </p>
        <p class="">Score: {{score}}</p>
        <p class="">Total: {{total}}</p>
        <p class="">Completed: {{completed}}</p>
    </div>
    <p><a href="http://localhost:8787/">See All Assignments</a></p>
</div>

</body>
</html>




{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h1>
    Assignments
</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Assignment</th>
    <th>Score</th>
    <th>Total</th>
    <th>Completed</th>
    <th>Actions</th>
  </tr>

  
  <tr>
    {{#each newAssignment}}
    <td>
        {{this}}
    </td>
    {{/each}}
  </tr>
  
  
</table>

<p>Overall Average: {{averageScoreGenerator}} </p>
<p><a href="http://localhost:8787/">Add an Assignment</a></p>


</body>
</html>


  
        <a href="http://localhost:8787/editwork">Edit</a>
        <a href="http://localhost:8787/deletework">Delete</a> --}}